<app-header></app-header>
<main id="main">
  <ng-container *ngIf="loading$ | async">
    <div class="spinner-container">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!(loading$ | async)">
    <div class="profile-top">
      <app-profile-info></app-profile-info>
    </div>
    <app-search-bar (onSearchEvent)="search = $event"></app-search-bar>
    <app-profile-stories [search]="search"></app-profile-stories>
    <app-profile-grid [search]="search"></app-profile-grid>
  </ng-container>
</main>
<app-footer></app-footer>